<div class="all-posts-box">
	<ul>
		<% @posts = Post.all %>
		<% @posts.reverse.each do |p| %>
			<% @current_flags = current_user.flags.where(post_id: p) %>
			<%= render p unless @current_flags.present? %>
		<% end %>
	</ul>
</div>

<div class="form">
	<% @post = Post.new %>
	<%= render 'form' %>
</div>


<%= subscribe_to "/posts/new" %>