/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.body {
	padding: 50px;
}

.all-content {
	position: relative;
	margin: 50px;
	margin-top: 80px;
}

.logo {
	float:left;
	margin-right:20px;
	font-size:1.7em;
	color:black;
	padding-top:9px;
	letter-spacing: -1px;
	font-weight:bold;
	line-height:1;
}

.logo:hover {
	color:orange;
	text-decoration:none;
}

.btn {
	margin-left:15px;
}

.btn:hover {
	color:orange;
}

.icon img {
	width: 22px;
	height: 22px;
}

.icon {
	width: 25px;
	height: 25px;
}


.lecture-index {
	text-align:center;
}

.user_info  {
	float: right;
	display: block;
}

.icon img {
	width: 22px;
	height: 22px;
}


.form {
	margin-left: 20px;
	width: 85%;
	height:60px;
	max-height: 15%;
	.right-col {
		float: left;
	}
}

.form-content {
	margin: 5px;
	width: 85%;
	height:60px;
	border-radius: 7px;
	float: left;
	font-family: Georgia;
	font-size: 14px;
}

.all-posts {
  margin-left: 20px;
  width: 85%;
  height: 400px;
  max-height: 80%;
  border-radius: 7px;
  overflow-y: auto;
  /*border: 1px solid black;*/
  background-image: url('notepad.png');
}

.all-comments {
	border-radius: 7px;
	background-image: url('notepad.png');
	width: 85%;
}

.dropdown-menu a {
	margin-left: 8px;
}

.navbar-inner {
	background-color: blue;
}

a:link {
	color:black;
	text-decoration:none;
}

a:visited {
	color:black;
	text-decoration:none;
}

a:hover {
	color:black;
	text-decoration:underline;
}

a:active {
	color:black;
	text-decoration:none;
}

li {
	font-size: 18px;
	padding: 15px;
