// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.writing {
	font-family: Georgia;
	margin: 10px;
	padding: 10px;
	border-radius: 7px;

	-o-transition:.1s;
  -ms-transition:.1s;
  -moz-transition:.1s;
  -webkit-transition:.1s;
  transition:.1s;

	.left-col {
		margin-right: 10px;
		float: left;
		text-align: center;
	}

	.content{
		font-size: 20px;
		margin-bottom: 5px;
		line-height: 1.1em;
		word-spacing: 0.04em;
	}

	.byline {
		visibility: hidden;
		font-size: 10px;
		display: block;
		margin-bottom: 5px;
	}

	.footer {
	  visibility: hidden;
	  word-spacing: 5px;
	}
}

.writing:hover {
  background: LightGray;

  .byline {
  	visibility: visible;
  }

  .footer {
	  visibility: visible;
	}
}

a {
	text-decoration: none;
}